<% if !@user.nil? && @user.admin_page_links? %>
    <%= _('{{user}} ({{user_admin_link}}) made this {{law_used_full}} request (<a href="{{request_admin_url}}">admin</a>) to {{public_body_link}} (<a href="{{public_body_admin_url}}">admin</a>)',
            :user => @info_request.is_external? ? (@info_request.user_name || _('An anonymous user')) : user_link(@info_request.user),
            :law_used_full => h(@info_request.law_used_full),
            :user_admin_link => user_admin_link_for_request(@info_request, _('external'), _('admin')),
            :request_admin_url => admin_request_show_url(@info_request),
            :public_body_link => public_body_link(@info_request.public_body),
            :public_body_admin_url => admin_body_show_url(@info_request.public_body)) %>
<% else %>
    <%= _('{{user}} made this {{law_used_full}} request',:user=>@info_request.is_external? ? (@info_request.user_name || _('An anonymous user')) : user_link(@info_request.user), :law_used_full=>h(@info_request.law_used_full)) %>
    <%= _('to {{public_body}}',:public_body=>public_body_link(@info_request.public_body)) %>
<% end %>
