.ui-datepicker{
    background-color: #333;
    // border: 1px solid #ccc;
    padding: 0.5em;
    font-size:0.8em;

    a{ color: #fff; }

    .ui-datepicker-title{
        text-align: center;
        text-transform: uppercase;
        color:#fff;
        font-weight: 900;
    }
    .ui-datepicker-header{
        padding: 1em 0;
    }
    .ui-datepicker-year{
        color: #999;
        font-weight: 400;
    }

    table{
        // font-family: monospace;
    }
    thead{
        text-align: center;
        color: #777;
        font-size: 0.8em;
        padding-bottom: 1em;
        th{ font-weight: 400;}
    }
    tbody{
        text-align: center;
    }
    td{
        padding: 5px;
        border: 2px solid #333;
        background-color: #777;
        &:hover{
            background-color: #999;
        }
    }

    .ui-datepicker-prev{
        float: left;
        text-transform: lowercase;
    }
    .ui-datepicker-next{
        float: right;
        text-transform: lowercase;
    }

    .ui-datepicker-today{
        background-color: red;
        a{ color: #fff;}
    }

    .ui-datepicker-current-day{
        outline: 5px solid rgba(255,255,255,0.6);
        background-color: #222;
        &:hover{ background-color: #222; }
    }

    .ui-datepicker-unselectable{
        background-color: transparent;
    }
}