// Base Colours if not overriden
$main_menu-bg: #333 !default;
$main_menu-search_bg: #eee !default;
$main_menu-search_text: #333 !default;
$main_menu-link_bg: #333 !default;
$main_menu-bg: #333 !default;
