// Import Settings
@import "main_menu-settings";

.main_menu{
    //@include grid-row;
    background-color: $main_menu-bg;
    padding: 0  0 1em 0;
    @media( min-width: $main_menu-mobile_menu_cutoff ){
        padding: 0;
    }
    ul{
        // @include inline-list;
        list-style: none;
        @include grid-row;

    }
    li{
        @include grid-column(12);
        @media( min-width: $main_menu-mobile_menu_cutoff ){
            @include grid-column(2);
            padding:0;
            &.menu-help{ @include grid-column(1); padding: 0; }
        }


        &.menu-search{
            @include grid-column(12);
            padding: 0.35em 1em;
            @media( min-width: $main_menu-mobile_menu_cutoff ){
                @include grid-column(3);
                padding: 0.35em 0;
            }

            input{
                background-color: mix($main_menu-search_bg, $main_menu-bg, 50%);
                border: none;
                padding: 0.25em;
                width: 80%;
                transition: all 0.3s ease-out;
                color: $main_menu-search_text;
                &:focus{
                    background-color: $main_menu-search_bg;
                }
            }
            label{
                cursor: pointer;
                width: 20%;
                img{
                    max-width: 100%;
                }
            }
        }
        padding: 0;
        a{
            display:block;
            width:100%;
            height:100%;
            color: $main_menu-link_text;
            font-weight: bold;
            padding: 0.5em 1em;
            @media( min-width: $main_menu-mobile_menu_cutoff ){
                padding: 0.5em 0;
                font-weight: normal;
                text-align: center;
            }
            @media( min-width: $main_menu-mobile_menu_cutoff ) and ( max-width: 55em ){
                font-size: 0.8em;
            }

            transition: background-color 0.5s ease-out;

            &:hover{
                background-color: lighten($main_menu-link_bg, 5%);
            }
        }
        &.active a{
            &{
                background-color: $main_menu-active_link_bg;
                padding-top: 1em;
                margin-top: -0.5em;
                color: $main_menu-bg;
                font-weight: bold;
            }
        }

        &.menu-newrequest a,
        &.menu-viewrequests a{
            background: $c-requests;
        }
        &.menu-viewauthorities a,
        &.menu-emailalerts a{
            background: $c-authorities;
        }

        @media( min-width: $main_menu-mobile_menu_cutoff ){
            &.menu-newrequest a,
            &.menu-viewrequests a,
            &.menu-viewauthorities a,
            &.menu-emailalerts a{
                background: $main_menu-link_bg;
            }
        }
    }

}

// $c-requests
// $c-authorities
// $c-users
.login-block{
    background: $c-users;
    p{
        padding: 0.5em 1em;
        margin:0;
        color: transparentize( $main_menu-link_text, 0.5 );
    }
    a{
        display:block;
        padding: 0.5em 1em;
        font-weight: bold;
        color: $main_menu-link_text;
    }
    @media( min-width: $main_menu-mobile_menu_cutoff ){
        a{
            display:inline;
            padding:0 1em 0 0;
        }
        p{ padding:0; }
        padding: 1em 2em;
        float: right;
        margin-top: -5em;
        font-size: 0.8em;
    }
}
.page_header{
    background-color: mix($main_menu-bg, $main_menu-active_link_bg, 50%);
}
.logo{
    @include grid-row;
    margin-top: -3em;
    margin-bottom: 1em;
    padding: 1em;
}