// Import Settings
@import "_page_header-settings";



// ----------------------------------------------
//     Layout
// ----------------------------------------------

.header_content{
    @include grid-row;
}

#page_header{
    // Hide menu items by default on mobile
    .ms_header,
    .login-block,
    .main_menu{
        display:none;
    }
    // …and show a button to reveal them
    .rsp_menu_button{
        @include grid-column(4);
        float: right;
        a{
            @include button;
            &.open{
                display: block;
            }
            &.close{
                display: none;
            }
        }
    }
    // Squeeze the logo up on small screens to make room for the button
    .logo{
        @include grid-column(6);
        margin-bottom: 1em;
        padding: 1em;
    }

    &:target{
        // Hide menu button when menu is open
        .rsp_menu_button{
            .open{
                display:none;
            }
            .close{
                display:block;
            }
        }

        // Show menu items when menu is targeted
        .login-block,
        .main_menu{
            display:block;
            clear:both;
        }

    }

    @media( min-width: $main_menu-mobile_menu_cutoff ){
        // On larger screens show the menu
        .ms_header,
        .login-block,
        .main_menu{
            display:block;
        }

        // …and hide the menu button
        .rsp_menu_button{
            display:none;
        }
    }
}




.main_menu{
    padding: 0  0 1em 0;
    @media( min-width: $main_menu-mobile_menu_cutoff ){
        padding: 0;
    }
    ul{
        list-style: none;
        @include grid-row;

    }
    li{
        @include grid-column(12);
        @media( min-width: $main_menu-mobile_menu_cutoff ){
            @include grid-column(2);
            padding:0;
            &.menu-help{ @include grid-column(1); padding: 0; }
        }

        &.menu-search{

            @include grid-column(12);
            padding: 0.35em 1em;

            @media( min-width: $main_menu-mobile_menu_cutoff ){
                @include grid-column(3);
                padding: 0.35em 0 0 0;
            }

            form{
                @include grid-row;
                padding-right: 1em;
            }
            input{
                @include grid-column($columns:9);
                margin:0;
            }
            label{
                @include prefix-postfix-base;
                @include grid-column($columns:3,$float:left);
                border:none;
                img{
                    max-width: 100%;
                }
            }
        }
        padding: 0;
        a{
            display:block;
            width:100%;
            height:100%;
            min-height: 2.875em;
            padding: 0.6em 1em;
        }
        &.active a{
            @media( min-width: $main_menu-mobile_menu_cutoff ){
                padding-top: 1.2em;
                margin-top: -0.5em;
            }
        }

    }

}
.login-block{
    p{
        padding: 0.5em 1em;
        margin:0;
    }
    a{
        display:block;
        font-weight: bold;
        padding: 0.5em 1em;
    }
    @media( min-width: $main_menu-mobile_menu_cutoff ){
        a{
            display:inline;
            padding:0 1em 0 0;
        }
        p{ padding:0; }

        padding: 1em 2em;
        margin-top: 1em;
        float: right;

    }
}




// ----------------------------------------------
//     Style
// ----------------------------------------------



.main_menu{
    background-color: $main_menu-bg;
    li{
        &.menu-search{
            input{
                background-color: mix($main_menu-search_bg, $main_menu-bg, 50%);
                border: none;
                transition: all 0.3s ease-out;
                color: $main_menu-search_text;

                &:focus{
                    background-color: $main_menu-search_bg;
                }
            }
            label{
                cursor: pointer;
                text-align: center;
            }
        }

        a{
            color: transparentize($main_menu-link_text, 0.2);
            font-weight: normal;

            @media( min-width: $main_menu-mobile_menu_cutoff ){
                font-weight: normal;
                text-align: center;
            }
            @media( min-width: $main_menu-mobile_menu_cutoff ) and ( max-width: 55em ){
                font-size: 0.8em;
            }

            transition: background-color 0.5s ease-out;

            &:hover{
                background-color: lighten($main_menu-link_bg, 5%);
                color:  transparentize($main_menu-link_text, 0);
            }
        }
        &.active a{
            color:  transparentize($main_menu-link_text, 0);
            font-weight: bold;

            @media( min-width: $main_menu-mobile_menu_cutoff ){
                background-color: $main_menu-active_link_bg;
                color: $main_menu-active_link_text;
            }
        }

        &.menu-newrequest a,
        &.menu-viewrequests a{
            background: $c-requests;
            &:hover{
                background-color: lighten($c-requests, 5%);
            }
        }
        &.menu-viewauthorities a,
        &.menu-emailalerts a{
            background: $c-authorities;
            &:hover{
                background-color: lighten($c-authorities, 5%);
            }
        }

        @media( min-width: $main_menu-mobile_menu_cutoff ){
            &.menu-newrequest a,
            &.menu-viewrequests a,
            &.menu-viewauthorities a,
            &.menu-emailalerts a{
                background: $main_menu-link_bg;
            }
            &.active a{
                background-color: $main_menu-active_link_bg;
                &:hover{
                    background-color: $main_menu-active_link_bg;
                }
            }
        }
    }

}

.login-block{
    background: $c-users;
    p{
        color: transparentize( $main_menu-link_text, 0.5 );
    }
    a{
        font-weight: normal;
        color: transparentize($main_menu-link_text, 0.2);
        &:hover{
            background-color: lighten($c-users, 5%);
            color:  transparentize($main_menu-link_text, 0);
        }
    }
    @media( min-width: $main_menu-mobile_menu_cutoff ){
        font-size: 0.8em;
        background: transparent;
    }
}