.request_filters{
    clear: both;
    form{
        @include grid-row;
    }
    .list-filter-item{
        @include grid-column(12);
        @media (min-width: 21.875em){
            @include grid-column(6);
        }
        @media (min-width: 37.5em){
            @include grid-column(4);
        }
        @media (min-width: 46.875em){
            @include grid-column(3);
        }

        &.submit{
            @include grid-column(12);
            @media (min-width: 37.5em){
                @include grid-column(4);
            }
            @media (min-width: 46.875em){
                @include grid-column(1);
            }
            padding-top: 1em;
            input{
                @include button($button-med, $c-success, 0, true, false, true);
                background-image: url(/assets/form_icons/search.png);
                background-repeat: no-repeat;
                background-size: auto 60%;
                text-indent: -9999px;
                background-position: center center;
            }
        }

        &.date-range{
            input{
                background-image: url(/assets/form_icons/date.png);
                padding-left: 2em
            }
        }

        &.search-query{
            @include grid-column(12);

            @media (min-width: 46.875em){
                @include grid-column(5);
            }
            input{
                background-image: url(/assets/form_icons/search.png);
                padding-left: 2em
            }
        }

        &.status_filters{
            @include grid-column(12);

            h3{
                display: inline;
                font-size: 1em;
            }
            .filter-request-types{
                display: inline;
                @include sub-nav;
                font-size: 0.8em;
            }
        }

        label{
            display:block;
        }
        input{
            width:100%;
            padding: 0.5em;
            background-position: 0.5em center;
            background-repeat: no-repeat;
            background-size: 1em auto;
        }
    }
}