/*
-------------------------
Colours

*/

// Status Colours
$c-success: #0a8000;
$c-pending: #ff6c00;
$c-failure: #ff0022;

// Section Colours
$c-requests: #0056ab;
$c-authorities: #450096;
$c-users: #009066;

// Foundation Colours
$body-bg: #eee;
$body-font-color: #222;
$primary-color: $c-requests;
$secondary-color: $c-authorities;
$alert-color: $c-failure;
$success-color: $c-success;